/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Navbar Styling */
.navbar {
    background-color: #333;
    overflow: visible;
    display: flex;
    justify-content: space-between;
    padding: 10px 70px;
    align-items: center; /* Vertically centers items */

}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #575757;
}

/* Dropdown Menu Styling */
.navbar .dropdown {
    position: relative;
    display: inline-block;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #575757;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar .dropdown-content a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.navbar .dropdown-content a:hover {
    background-color: #575757;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.lab-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}
.lab-title img {
    height: 60px; /* Adjust to fit the navbar height */
    object-fit: contain; /* Ensures the image scales without distortion */
    vertical-align: middle; /* Vertically aligns the image */
}

/* Container for the entire row of Principal Researchers */
.image-row {
    display: flex;
    justify-content: space-around; /* Even spacing between images */
    align-items: center;          /* Aligns content vertically */
    margin: 20px 0;
}

/* Individual image and description containers */
.image-container {
    text-align: center; /* Centers the description below each image */
    width: 40%;         /* Adjusts width for responsiveness */
}

/* Images styling */
.image-container img {
    height: 250px;        /* Makes the image fit the container */
    max-height: 300px;   /* Limits the image width */
    width: auto;       /* Maintains aspect ratio */
}

/* Description styling */
.image-container p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}


/* Content Section Styling */
.content {
    padding: 20px;
    text-align: justify;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
